@{
    ViewData["Title"] = "Movie index";
}
 <h1>@ViewData["Title"]</h1>
<table class="table">
    <tr>
        <th>รหัสภาพยนต์</th>
        <th>ชื่อภาพยนต์</th>
        <th>รูป</th>
        <th>เข้าฉายเมื่อ</th>
        <th>หมวดหมู่</th>
        <th>ความยาว (นาที)</th>
    </tr>
    @foreach (var d in ViewBag.movieList)  
    {  
        <tr>  
            <td>@d.id</td>  
            <td>@d.title</td>  
            <td>
                <img src=@d.coverImg height="80px">
            </td>
            <td>@d.releaseDate</td>  
            <td>@d.genre</td>  
            <td>@d.duration</td>  
        </tr>  
    }  
</table>